---
description: "{{description | safe}}"
eleventyComputed:
  url: "https://hyceate.pages.dev"
  summary: "{{page.description}}"
  name: "{{page.title}}"
  keywords: "{{settings.keywords}}"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta description="{{description}}" />
    <meta name="keywords" content="{{keywords}}" />
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.jpg" />
    <title>{{ title }}</title>
    {% metagen title=title or metadata.title, desc=desc or metadata.desc,
    url=url + page.url %}
    <script
      src="https://kit.fontawesome.com/f7a8459064.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://kit.fontawesome.com/f7a8459064.css" crossorigin="anonymous">
{#     <link rel="stylesheet" href="/static/css/grid.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/modal.css" />
    <link rel="stylesheet" href="/static/css/post.css" />
    <link rel="stylesheet" href="/static/css/contact.css" /> #}
    {% set css %} {% include "src/static/css/main.css" %} {% include
    "src/static/css/grid.css" %} {% include
      "src/static/css/modal.css" %} {% include
        "src/static/css/post.css" %}{% include
          "src/static/css/contact.css" %}{% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body class="col-12">
    {% include "src/_includes/_partials/header.html" %}
    <div class="body col-12">{{ content | safe }}</div>
  </body>
  {%renderTemplate "webc"%}
  <site-footer></site-footer>
  {%endrenderTemplate%}
  {% set js %} {% include "src/static/js/modal.js" %} {% endset %}
<script>
  {{ js | jsmin | safe }}
</script>

</html>
