---
layout: page
eleventyComputed:
  title: "{{title}}"
  description: "{{ description }}"
---
{% metagen metadata %} 
{% block content %} 
{{content | safe}}
<ul class="gallerylist" data-barba-prevent="all">
  {% for post in collections.posts %}
  <li>
    <a class="modal-link" href="{{ post.url }}">
      {% image "./src/" + post.url + post.data.thumbnail, "post-thumbnails", post.data.title, "(min-width: 30em) 50vw, 100vw" %}
{#       <img
        class="post-thumbnails"
        src="{{post.url}}{{post.data.thumbnail | url | safe}}"
        alt="{{post.title}}" loading="lazy"
      /> #}
    </a>
  </li>
  {% endfor %}
</ul>
<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="closeButton">
      <i class="fa-solid fa-xmark"></i>
    </div>
    <section class="inserted"></section>
  </div>
</div>
{# {% set js %}{% include "src/static/js/modal.js" %}{% endset %}
<script>
  {{ js | jsmin | safe }}
</script> #}
{% endblock %}
