---
layout: base
eleventyComputed:
  title: "{{ title | safe }}"
  subtitle: "{{ subtitle | safe }}"
  description: "{{ description | safe }}"
  hero_image: "{{ hero_image }}"
---
{% metagen metadata %}
{% block content %}
<section class="landing col-12">
  <section class="landing-title">
  <h1>{{ title }}</h1>
  <h2>{{ subtitle }}</h2>
  </section>
  <div class="hero-image">
    <img src="{{ hero_image }}" alt="Hero image banner" loading="lazy">
    <div class="hero-overlay"></div>
    </div>
  </section>
{% endblock %}