#contact{
    min-width:20rem;
    width: 100%;
    max-width: 90rem;
    padding-inline: 5rem;
    margin:15px auto 0;
    text-align: left;
    flex-wrap: wrap;
    flex-direction: column;
}
fieldset{
    padding-inline: 0px;
    margin-bottom:10px;
    border:none;
}
label, textarea{
    display:block;
}
label{
    font-weight: bold;
}
textarea{
    font-family:"Lexend", sans-serif;
    margin-top:10px;
    min-width:20rem;
    width:100%;
    height:100%;
    padding:10px;
    min-height:15rem;
    font-size:1rem;
    border:1px solid #fae2e6;
}   
input{
    font-family:"Lexend", sans-serif;
    margin-top:10px;
    display:block;
    width:100%;
    padding:10px;
    font-size:1rem;
    border:1px solid #fae2e6;
}
button[type="submit"]{
    margin-top:15px;
    margin-bottom:30px;
    width:100%;
    padding:10px;
    font-size:20px;
    color:#493f3f;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    border:1px solid #fae2e6;
    border-radius: 4px;
    background: linear-gradient(145deg, #fffefb, #f5e1dd);
    box-shadow:  6px 6px 12px #f3d2c2,
                 -6px -6px 12px #ffffff;
}
button[type="submit"]:hover{
    cursor:pointer;
    background: linear-gradient(145deg, #fffefb, #f5e1dd);
    box-shadow:  inset 6px 6px 12px #f3d2c2,
                 inset -6px -6px 12px #ffffff;
}