@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2&family=Rubik&display=swap');
:root{
  --background-color: #ffffff;
  --logo-color:rgb(197, 139, 139);
}
*, *:before, *:after {
  box-sizing: border-box;
}
html{
  min-height:100vh;
}
a{
  color:rgb(124, 106, 109);
}
a:visited{
  color:rgb(124, 106, 109);
}
.header{
  font-family: 'Rubik', sans-serif;
  text-align:center;
  padding-block:1rem;
  position:sticky;
  top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index:2;
  padding-inline:2rem;
  background-color:var(--background-color);
  border-bottom:#6b6b6b 1px solid;
}
footer{
  height:var(--header-height);
  margin-top:auto;
  bottom:0;
  text-align: center;
}
body{
  margin:0;
  display:flex;
  flex-direction: column;
  font-family: "M PLUS 2", Arial, Helvetica, sans-serif;
  min-height:100vh;
  background-color:var(--background-color);
  text-align:center;
  letter-spacing: .015em;
}
.landing{
  display:grid;
  flex: 1 0 auto;
  align-items: center;
  grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));
  align-content: center;
  justify-items: center;
}
.landing h1{
  text-align: center;
  font-size:24vw;
  text-transform: lowercase;
  color:pink;
  font-family:Rubik;
  letter-spacing:0px;
  display:flex;
  margin:0;
}
.landing h1:after {
  content: "";
  display: inline-block;
  width: 100%;
}
#logo{
  display:flex;
  width:120px;
  align-self: flex-start;
  color:var(--logo-color);
  transition: .3s ease-out;
}
.svg-logo{
  fill:none;stroke:var(--logo-color);stroke-linecap:round;stroke-linejoin:bevel;stroke-width:3.719799420887232px
}
#logo:hover{
  filter:brightness(25)
  transition: .3s ease-out;
}
.fallback{
  display:none;
}
.navbar, .social-links{
  font-size:1.2rem;
  display:inline-flex;
  list-style: none;
  margin: 0rem;
}
.social-links{
  margin:0;
  padding:0;
}
.gallerylist{
  display:inline;
  padding:0;
  margin:auto;
  align-items: center;
}
.gallerylist li{
  display:inline-flex;
}
.navbar a, .gallerylist a{
  text-decoration: none;
  text-transform: uppercase;
}
.navbar li, .social-links li{
  padding:2px;
  display: inline-flex;
  align-items: baseline;
}
.navbar li:not(:last-child)::after{
  content:"◆";
  margin: 0 0 0 3px;
}
.page{
  display: inline-block;
  width: 80%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  margin: 0 auto;
}
.page p{
  text-align: left;
}
.page ul{
  text-align: left;
}
.video{
  display: inline-block;
  width: 100rem;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  margin: 0 auto;
}
.aspect-ratio, .eleventy-plugin-youtube-embed {
  position: relative;
  width: 100%;
  padding-bottom: calc(100% / (16/9));
  /* padding-top: calc(100% / (var(--aspect-ratio))); */
  margin:auto;
}
.youtube-player::before{  
  padding-top:100%;
  content: '';
    display: block;
    width: 100%;
}
.youtube-player {
  position: absolute;
  object-fit: contain;
  bottom:0;
  right:0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #000000;
  overflow: hidden;
}