@import url("https://fonts.googleapis.com/css2?family=M+PLUS+2&family=Rubik&family=Lexend&display=swap");
:root {
  --background-color: #f3edeb;
  --logo-color: #c58b8b;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  min-height: 100vh;
}
a {
  color: rgb(124, 106, 109);
}
a:visited {
  color: rgb(124, 106, 109);
}
a:hover{
  color:black;
}
ul {
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  display: block;
}
h1,
h2,
h3,
h4 {
  -webkit-margin-before: 0em;
  margin-block-start: 0em;
  -webkit-margin-after: 0em;
  margin-block-end: 0em;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  display: block;
  font-weight: bold;
}
h3{
  text-align: left;
  margin-top:20px;
}
.header {
  padding-block: 1rem;
  padding-inline: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  z-index: 2;
  top: 0;
  background-color: var(--background-color);
  border-bottom: #6b6b6b 1px solid;
  font-family: "Rubik", sans-serif;
  text-align: center;
}
footer {
  bottom: 0;
  height: var(--header-height);
  margin-top: auto;
  text-align: center;
  color:var(--logo-color);
}
body {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: var(--background-color);
  text-align: center;
  font-family: "Lexend", "Rubik", "Helvetica", sans-serif;
}
.body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 30px;
  line-height: 1.5;
  text-align: center;
}
.landing {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-content: center;
  width: 100%;
  height: 100%;
}
.landing h1 {
  display: flex;
  margin-top:300px;
  justify-content: center;
  font-size: 15vw;
  font-family: "Lexend", sans-serif;
  color: rgb(255, 166, 148);
  text-transform: lowercase;
  letter-spacing: 0px;
}
#logo {
  display: flex;
  align-self: flex-start;
  width: 50px;
  transition: 0.3s ease-out;
  border-radius: 50px;
  color: var(--logo-color);
}
#logo:hover {
  -webkit-filter: contrast(200%);
  filter: contrast(200%);
  transition: 0.3s ease-out;
}
.navbar,
.social-links {
  padding-inline: 1rem;
  display: inline-flex;
  margin: 0rem;
  font-size: 1rem;
  font-family: "Rubik", "Helvetica", sans-serif;
  list-style: none;
}
.social-links {
  margin: 0;
  padding: 0;
}
.navbar a {
  font-size: 1.1rem;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 16px;
  background: #f3edeb;
}
.navbar li,
.social-links li {
  display: inline-flex;
  align-items: center;
  padding: 2px;
}
.navbar li:not(:last-child)::after {
  content: "\2B29";
  margin: 0 0 0 5px;
}
a[data-current="current item"] {
  background-color: var(--logo-color);
  color: var(--background-color);
}
.page {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
  vertical-align: top;
}
.page p {
  line-height: 1.6;
  text-align: left;
}
.page ul {
  line-height: 1.6;
  text-align: left;
}

@media screen and (max-width:900px) {
  header{
    overflow:hidden;
  }
  .landing h1{
    font-size:15vw;
    left:0;
  }
}