/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  top: 0;
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  width: 100%; /* Full width */
  min-height: 100%; /* Full height */
  padding-top: -var(--header-height); /* Location of the box */
  background-color: rgba(179, 173, 173, 0.637);
  -webkit-backdrop-filter: blur(1px);  
  backdrop-filter: blur(1px);
}
.modal.hide-modal {
  opacity: 0;
  display:none;
  transition: all 0.3s ease-out;
}
.modal.show-modal {
  -webkit-box-pack: end;
  flex-wrap: wrap;
  justify-content: flex-end;
  opacity: 1;
  margin: 0px auto;
  transition: all 0.3s ease-in;
}
/* Modal Content */
.modal-content {
  overflow-y: auto;
  width: 80%;
  max-height: 80vh;
  margin: 0px auto;
  padding: 20px;
  border-radius: 5px;
  background: linear-gradient(145deg, #f8f7f3, #f1f0f0);
}
button.closeButton {
  margin: -39px 7px;
  padding: 0px;
  border: 0;
}
/* The Close Button */
.closeButton {
  position: absolute;
  z-index: 3;
  right: 8.5%;
  font-size:2rem;
  color: #e7a9a7;
  width:35px;
  height:35px;
  border-radius: 5px;
  background: linear-gradient(145deg, #fffefb, #dbd5d4);
  box-shadow: 1px 1px 2px #e9e4e2, -1px -1px 2px #fdf6f4
}

.closeButton:hover,
.closeButton:focus {
  cursor: pointer;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  background: linear-gradient(145deg, #fffefb, #dbd5d4);
  box-shadow: inset 3px 3px 6px #e9e4e2,
              inset -3px -3px 6px #fdf6f4;
}
.transition{
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width:900px) {
  .modal-content{
    width:90vw;
  }
  button.closeButton{
    margin:-39px -30px;
  }
}