.post-thumbnails{
    max-width:200px;
    width:100%;
    height:auto;
    display:flex;
    object-fit: cover;
  }
.gallerylist{
    display:inline;
    padding:0;
    margin:auto;
    align-items: center;
  }
  .gallerylist li{
    display:inline-flex;
  }
  .gallerylist a{
    text-decoration: none;
    text-transform: uppercase;
    margin:5px;
    flex: 1 0 200px;
  }
.inserted{
    min-height:90%;
    overflow:auto;
    display:flex;
}
#post-content{
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin: 0px auto;
    flex-wrap: wrap;
    overflow:scroll;
}
.post-left{
    margin: auto;
    position:relative;
    display:flex;
    flex: 10 1 400px;
    overflow:scroll;
}
.post-right{
    flex: 1 5 400px;
    padding-block:1rem;
    padding-inline: 1rem;
    overflow:scroll;
    text-align: left;
}
.post-right h1{
    font-size:2rem;
    letter-spacing: .2rem;
    padding:0px;
    margin:0px 0px 1rem 0px;
}
.post-right p{
    margin-block:0px;
}
.artist-title, .rigger-title{
    margin-block:0px;
    padding-block:0px;
}
#artist, #rigger{
    padding-bottom:1rem;
}