#toBe{
  padding-inline:5em;
  width:100%;
}
.gallerylist {
  justify-items: center;
  -webkit-box-pack: justify;
  -webkit-padding-start: 0;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.gallerylist li {
  flex: 1 0 20%;
  margin: 0.5em;
  min-width:180px;
  list-style: none;
  transition: all 0.3s ease-in-out;
}
.gallerylist li:hover{
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  box-shadow:1px 1px 15px rgb(199, 147, 147), 1px 1px 15px rgb(255, 233, 233);
}
.post-thumbnails {
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
  height: 150px;
  border-radius: 5px;
}
img.post-thumbnails {
  -o-object-fit: cover;
  object-fit: cover;
  display: flex;
  width: 100%;
}
.inserted {
  display: flex;
  overflow: auto;
  min-height: 90%;
}
#post-content {
  -webkit-box-pack: end;
  display: flex;
  flex-wrap:wrap;
  justify-content: flex-end;
  overflow-y: scroll;
  margin: 0px auto;
  max-width: 100%;
}
.post-left {
  flex: 10 1 60%;
  position: relative;
  overflow:hidden;
  margin: auto;
  padding:10px;
}
.post-right {
  max-width:100%;
  max-height:70vh;
  padding-block: 2rem;
  padding-inline: 1.5rem;
  flex: 1 1 30%;
  border-radius: 4px;
  background: #f3eded;
  overflow-y: scroll;
}
.vtuber {
  color:white;
  padding:10px;
  width:100%;
  margin: 0 0 25px;
  font-size: 1.5rem;
  font-weight:bold;
  letter-spacing: 1px;
  border-radius: 4px;
  background-color:#d3928c;
  box-shadow:  5px 5px 10px #d1ccca,
               -5px -5px 10px #ffffff;
}
.post-right p {
  display:inline-block;
}
.artist-title,
.rigger-title {
  background-color:#d3928c;
  color:white;
  margin-block: 10px;
  padding:10px;
  display:inline;
  letter-spacing: 0px;
  text-transform: lowercase;
  border-radius: 4px;
  box-shadow:  5px 5px 10px #d1ccca,
  -5px -5px 10px #ffffff;
}
.post-right p, .artist-title, .rigger-title{
  font-size:1.1rem;
}
p.vtube-desc{
  margin-top:15px;
  font-size:.6rem;
  text-align: left;
  transition: all 0.3s ease-in-out;
}
#artist,
#rigger {
  margin-bottom: 1rem;
}
.video {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100rem;
  max-width: 100%;
  margin: 0 auto;
  vertical-align: top;
  border-radius: 6px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  5px 5px 11px #bebebe,
              -5px -5px 11px #ffffff;
}
.aspect-ratio,
.eleventy-plugin-youtube-embed {
  position: relative;
  width: 100%;
  margin: auto;
  padding-bottom: calc(100% / (16 / 9));
}
.youtube-player::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 100%;
}
.youtube-player {
  -o-object-fit: contain;
  object-fit: contain;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0px;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0;
  border-radius: 5px;
}
#vlinks{
  margin-bottom:35px;
  gap:5px;
}
.social-links .svg-inline--fa{
  transition: all 0.3s ease-in-out;
  font-size:1.5rem;
  padding:5px;
  border-radius: 5px;
  margin-right:5px;
  border-radius: 4px;
  background: #f3edeb;
  box-shadow:  5px 5px 10px #d1ccca,
               -5px -5px 10px #ffffff;
}
.social-links .svg-inline--fa:hover{
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  5px 5px 11px #bebebe,
              -5px -5px 11px #ffffff;
}
@media screen and (max-width:160em){
  p.vtube-desc{
    font-size:1rem;
    overflow-y:scroll;
  }
}
@media screen and (max-width:120em){
  p.vtube-desc{
    font-size:1rem;
  }
}
@media screen and (max-width:90em){
  p.vtube-desc{
    font-size:.5rem;
  }
}
@media screen and (max-width:64em){
  .post-left{
    flex: 10 1 100%;
  }
  .vtuber, .artist-title, .rigger-title{
    font-size:1rem;
  }
  p.vtube-desc{
    font-size:.5rem;
  }
}