.gallerylist{
    display:flex;
    justify-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-inline-start: 0;
  }
.gallerylist li{
    list-style: none;
    margin: 0.5em;
    flex:1 1 20%;
}
.post-thumbnails{
    object-fit: cover;
    border-radius: 5px;
    width:100%;
  }
img.post-thumbnails {
    height:200px;
    display:flex;
  }
@media screen and (max-width: 900px){
.gallerylist li {
    flex: 10 1 50%;
}
.post-thumbnails{
    object-fit: cover;
    border-radius: 5px;
    width:100%;
  }
img.post-thumbnails {
    height:150px;
    display:flex;
  }
}
.inserted{
    min-height:90%;
    overflow:auto;
    display:flex;
}
#post-content{
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin: 0px auto;
    flex-wrap: wrap;
    overflow:scroll;
}
.post-left{
    margin: auto;
    position:relative;
    display:flex;
    flex: 10 1 400px;
    overflow:scroll;
}
.post-right{
    flex: 1 5 400px;
    padding-block:1rem;
    padding-inline: 1rem;
    overflow:scroll;
    text-align: left;
}
.post-right h1{
    font-size:2rem;
    letter-spacing: .2rem;
    padding:0px;
    margin:0px 0px 1rem 0px;
}
.post-right p{
    margin-block:0px;
}
.artist-title, .rigger-title{
    margin-block:0px;
    padding-block:0px;
}
#artist, #rigger{
    padding-bottom:1rem;
}